*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 0);
}

.Header h1{
  font-family: "Limelight", sans-serif;
  font-style: normal;
  font-size: 10vw;
  text-align: center;
  margin-top: 20px;
}

.Header{
    color: rgb(255, 18, 25);
}

.HeaderSeperator{
    border-color: rgb(255, 18, 25);
    border-width: .25vw;
    border-style:solid;
}

.PageTitle h1{
    margin: 5px;
    color: white;
    text-align: center;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
}

.PageTitleSeperatorT{
    margin-left: 30vw;
    margin-right: 30vw;
    margin-top: 2vw;
}
.PageTitleSeperatorB{
    margin-left: 35vw;
    margin-right: 35vw;
}

.DownloadButton{
    margin-top: 1.5vw;
    text-align: center;
}

.DownloadButton button{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-color: rgb(255, 18, 25);
    height: auto;
    max-width: 25vw;
    border-radius: 10px;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.DownloadButton button:hover{
    background-color: rgb(255, 18, 25);
    border-style: solid;
    border-color: rgb(255, 18, 25);
}
.DownloadButton button:active{
    background-color: rgb(150, 18, 25);
    border-style: solid;
    border-color: rgb(150, 18, 25);
}
.DownloadButton a{
    text-decoration: none;
    font-size: 2vw;
    color: white;
}

.DownloadButton button:hover a{
    color: rgb(255, 255, 255);

}

.DownloadButton button:active a{
    color: rgb(21, 21, 21);
}